<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bender Quotes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <script src='main.js'></script>
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/news">News</a>
    </div>
    <h1>Bender quote of the day:</h1>
    <img src="/Bender.png" alt="Bender">
    <p>{{ quote }}</p>
    <p><i>-Bender</i></p>
</body>
</html>